<div id="commands">
    <h1>Search Commands:</h1>
    <ul>
        <li><code>DuckDuckGo: dd</code></li>
        <li><code>Dictionary: def</code></li>
        <li><code>YouTube: yt</code></li>
        <li><code>Wikipedia: wi</code></li>
        <li><code>Google: g</code></li>
        <li><code>Github: gh</code></li>
        <li><code>Reddit: re</code></li>
        <li><code>Twitter: tw</code></li>
        <li><code>Amazon: am</code></li>
        <li><code>StackOverflow: sof</code></li>
        <li><code>Startpage: sp</code></li>
        <li><code>NPM: npm</code></li>
        <li><code>Google: No Command</code></li>
    </ul>
</div>

<style>
    ul {
        padding:0px;
        max-width: 15em;
    }
    li {
        width:15em;
        width: auto;
        list-style: outside none none;
        display: inline-block;
        padding-right:50px;
    }
    #commands {
        color:white;
        margin-left: 0;
        margin-top: 2.5em;
        width: 15em;
        position: absolute;

    }

</style>